<h3>Add Todo</h3>
<form (submit) = "addTodo();">
  <div class="form-inline">
  <input class="form-control" type="text" [(ngModel)]="text" name="todo">
  <button class="btn btn-default" type="submit">Add Todo</button>
  </div>

  <div class="notification-holder">
    <div *ngIf="isEmpty" class="alert alert-danger display-flex">
      <p class="text-left"><strong>Error</strong> Input value is empty</p>
      <button class="btn btn-default left-auto" (click)="isEmpty = false">X</button>
    </div>
    <div *ngIf="isAdded" class="alert alert-success display-flex">
      <p class="text-left"><strong>Added</strong> task '{{ prevText }}'</p>
      <button class="btn btn-default left-auto" (click)="isAdded = false">X</button>
    </div>
    <div *ngIf="isUpdated" class="alert alert-success display-flex">
      <p class="text-left"><strong>Updated</strong> task '{{ prevText }}'</p>
      <button class="btn btn-default left-auto" (click)="isUpdated = false">X</button>
    </div>
    <div *ngIf="isDeleted" class="alert alert-warning display-flex">
      <p class="text-left"><strong>Deleted</strong> task '{{ prevText }}'</p>
      <button class="btn btn-default left-auto" (click)="isDeleted = false">X</button>
    </div>
  </div>
</form>

<h3>Todo List</h3>
<ul class="list-group" class="cursor-style todo-list" >
  <li *ngFor = "let todo of todo; let i = index" class="list-group-item form-inline">
    <label id="todo-label" style="cursor: pointer;" *ngIf="!isEdit[i]" (click)="openTodoEdit(i)" from="name">{{ todo.text }}</label>
    <input class="form-control" *ngIf="isEdit[i]" type="text" name="lol" [(ngModel)]="todo.text" #newtext (clickOutside)="closeTodoEdit(i, $event)" (keyup.enter)="updateTodo(i, newtext.value)">
    
    <button class="btn btn-warning" (click)="deleteTodo(i); isEdit[i] = false">X</button>
    <button id="todo-update" *ngIf="!isEdit[i]" class="btn btn-default" (click)="openTodoEdit(i)">Edit</button>
    <button *ngIf="isEdit[i]" class="btn btn-success" (click)="updateTodo(i, todo.text)">Update</button>
  </li>
</ul>

<footer>
  <p>Made by <a href="http://szymon-ryczek.pl" rel="nofollow">Szymon Ryczek</a>. Contact me at <a href="mailto:szymon.ryczek97@gmail.com">szymon.ryczek97@gmail.com</a>.</p>
  <p>Code released under the <a href="https://github.com/szmq/ng2-todo-app/blob/master/LICENSE">MIT License</a>.</p>
</footer>